<p><a class="btn btn-blog-entry" href="#/add-or-update-statistic/{{ vm.key }}">Add</a></p>
<table class="table table-striped">
    <tr>
        <th>
            Date
        </th>
        <th>
            Value
        </th>
        <th>
            Unit
        </th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="statistic in vm.statistics">
        <td>
            {{ statistic.date }}
        </td>
        <td>
            {{ statistic.statisticValue }}
        </td>
        <td>
            {{ statistic.statisticUnit }}
        </td>
        <td>
            <a class="btn btn-blog-entry" href="#/add-or-update-statistic/{{ statistic.statisticKey }}/{{ statistic.statisticId }}">Update</a>
        </td>
        <td>
            <a class="btn btn-default" ng-click="vm.delete(statistic.statisticId)">Delete</a>
        </td>
    </tr>
</table>